* {
    text-align: center;
}

.mainnav ul {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.mainnav ul li {
    list-style: none;
}

.mainnav ul li a {
    text-decoration: none;
    color: black;
    background-color: skyblue;
    padding: 0.8rem;
}